$pink: rgba(241, 123, 139, 0.8);
$blue: rgba(44, 83, 255, 0.8);
$green: rgba(14, 124, 0, 0.8);
$orange: rgba(255, 157, 28, 0.8);
$yellow: rgba(255, 239, 17, 0.8);
$brown: rgba(109, 45, 8, 0.8);
$red: rgba(233, 25, 25, 0.8);
$purple: rgba(145, 32, 107, 0.8);

$base-color: $pink;
$background-color: lighten($base-color, 30%);
$deep-background-color: lighten($base-color, 20%);
$base-darker: darken($base-color, 5%);
$shadow: rgba($base-color, .5);

html,
body {
    background-color: $deep-background-color;
    color: $base-color;
    text-shadow: 0 0.05rem 0.1rem $shadow;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 79%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    padding-top: 8%;
    background-color: $background-color;
}

button,
.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
    border: none;
    outline: none;
}

.button.category:focus,
button.category:focus,
.button.category:hover,
button.category:hover 
.button.color:focus,
button.color:focus,
.button.color:hover,
button.color:hover 
{
    border: 2px solid;
    border-color: $base-color;
}

.selected {
    border: 2px solid;
    border-color: $base-color;
}

#colors {
    position: fixed;
    right: 2%;
    top: 6%;
}

#categories {
    position: fixed;
    left: 2%;
    top: 6%;
}

#picture {
    height: 18rem;
}

.picture-content {
    width: auto;
    height: 20rem;
    filter: alpha(opacity=80);
}

#hint {
    position: fixed;
    bottom: 2%;
    left: 1%;
    width: 7rem;
    height: 7rem;
    font-size: 4rem;
    border-radius: 50%;
    vertical-align: middle;
    background-color: $base-color;
    border: 1rem solid $base-darker;
    color: white;
}

.side-button {
    height: 5rem;
    width: 5em;
    margin: 0.5rem 1rem 0 1rem;
    border-radius: 10px;
}

/* words */
#guessing {
    margin-top: 3rem;
}

.letter-span {
    display: inline-block;
    font-size: 6.5rem;
    height: 6.5rem;
    width: 6.5rem;
    line-height: 6.5rem;
    margin: 0 0.2rem;
    text-transform: uppercase;
    vertical-align: text-top;
    text-align: center;
}

#hint-letter-container {
    margin-top: 3rem;
    height: 6.7rem;
}

.letter-span-underline {
    border-bottom: 2px solid $base-color;    
}

/* media queries */
@media (max-width: 600px) {
    .letter-span {
        font-size: 1.8rem;
        height: 2rem;
        width: 2rem;
        line-height: 1.8rem;
    }
}

/* colors */

#pink {
    background-color: $pink;    
}

#blue {
    background-color: $blue;
}

#green {
    background-color: $green;
}

#orange {
    background-color: $orange;
}

#yellow {
    background-color: $yellow;
}

#brown {
    background-color: $brown;
}

#red {
    background-color: $red;
}

#purple {
    background-color: $purple;
}

/* categories */

#animals {
    background: url('../images/animals.jpg') no-repeat top left;
    background-size: 100%;
}

#people {
    background: url('../images/people.jpg') no-repeat top left;
    background-size: 100%;
}

#toys {
    background: url('../images/toys.jpg') no-repeat top left;
    background-size: 100%;
}