$pink: rgba(241, 123, 139, 0.8);
$blue: rgba(44, 83, 255, 0.8);
$green: rgba(14, 124, 0, 0.8);
$orange: rgba(255, 157, 28, 0.8);
$yellow: rgba(255, 239, 17, 0.8);
$brown: rgba(109, 45, 8, 0.8);
$red: rgba(233, 25, 25, 0.8);
$purple: rgba(145, 32, 107, 0.8);

$base-color: $pink;
$background-color: lighten($base-color, 30%);
$deep-background-color: lighten($base-color, 20%);
$base-darker: darken($base-color, 5%);
$shadow: rgba($base-color, .5);

html,
body {
    color: $base-color;
    text-shadow: 0 0.05rem 0.1rem $shadow;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (orientation: landscape) {
    main {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        background-color: $background-color;
    }

    #container-main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        height: 100%;
    }

    #mid {
        padding-top: 3%;
        width: 84%;
    }

    #colors {
        padding-top: 3%;
        background-color: $deep-background-color;
        width: 8%;
    }

    #categories {
        padding-top: 3%;
        background-color: $deep-background-color;
        width: 8%;
    }

    .selected {
        border: 2px solid;
        border-color: $base-color;
    }
    
    #picture {
        height: 80vh;
    }
    
    .picture-content {
        width: auto;
        height: 65vh;
        filter: alpha(opacity=80);
    }
    
    #hint {
        margin-top: auto;
    }
    
    #hint-button {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 12vh;
        height: 12vh;
        line-height: 12vh;
        font-size: 8vh;
        border-radius: 50%;
        background-color: $base-color;
        border: 2vh solid $base-darker;
        color: white;
    }
    
    .side-button {
        height: 10vh;
        width: 10vh;
        border-radius: 10px;
    }
    
    /* words */
    #guessing {
        margin-top: 2rem;
    }
    
    .letter-span {
        display: inline-block;
        font-size: 1.8rem;
        height: 6%;
        width: 6%;
        line-height: 1.8rem;
        margin: 0 0.2rem;
        text-transform: uppercase;
        vertical-align: text-top;
        text-align: center;
    }
    
    #hint-letter-container {
        margin-top: 2rem;
        height: 6%;
        width: 6%;
        line-height: 1.8rem;
    }

}

button,
.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
    border: none;
    outline: none;
}

.button.category:focus,
button.category:focus,
.button.category:hover,
button.category:hover .button.color:focus,
button.color:focus,
.button.color:hover,
button.color:hover {
    border: 2px solid;
    border-color: $base-color;
}

.letter-span-underline {
    border-bottom: 2px solid $base-color;
}

#pink {
    background-color: $pink;
}

#blue {
    background-color: $blue;
}

#green {
    background-color: $green;
}

#orange {
    background-color: $orange;
}

#yellow {
    background-color: $yellow;
}

#brown {
    background-color: $brown;
}

#red {
    background-color: $red;
}

#purple {
    background-color: $purple;
}

/* categories */

#animals {
    background: url('../images/animals.jpg') no-repeat top left;
    background-size: 100%;
}

#people {
    background: url('../images/people.jpg') no-repeat top left;
    background-size: 100%;
}

#toys {
    background: url('../images/toys.jpg') no-repeat top left;
    background-size: 100%;
}