html,
body {    
    background-color: #fffbf1;    
    color: rgb(255, 137, 137);
    text-shadow: 0 .05rem .1rem rgba(156, 156, 156, 0.5);
    height:100%; 
    margin:0; 
    padding:0;
}

a,
a:active,
a:hover {
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    padding: 1rem 0;
    margin: 0 auto;    
    padding-top: 120px;    
    background-color: #fff7e8;
}

button,
.button:active, 
 button:active,
.button:focus, 
 button:focus,
.button:hover, 
 button:hover{
    border:none;
    outline:none;    
}

.button.category:focus, 
 button.category:focus,
.button.category:hover, 
 button.category:hover{
    border: 2px solid rgba(241, 123, 139, 0.8);
}

.selected{
    border: 2px solid rgba(241, 123, 139, 0.8);  
}

#colors{    
    position: fixed;    
    right: 1rem;
}

#categories{    
    position: fixed;    
    left: 1rem;
}

#picture{
    height: 300px;
}

#hint{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 7rem;
    height: 7rem;
    font-size: 4rem;
    border-radius: 50%;
    vertical-align: middle;
    background-color: rgba(241, 123, 139, 0.8);
    color: white;
}

.picture-content{
    width: auto;
    height: 300px;
    filter: alpha(opacity=80);

}

.side-button {
    height: 4rem;    
    width: 4rem; 
    margin: 0.5rem;   
    border-radius: 10px;
}

/* words */
#guessing{
    margin-top: 3rem;
}

.letter-span {    
    display: inline-block;
    font-size: 6.5rem;
    height: 6.5rem;
    width: 6.5rem;
    line-height: 6.5rem;
    margin: 0 0.2rem;
    text-transform: uppercase;
    vertical-align: text-top;
    text-align: center;
}

#word-container{
    height: 6.7rem;
}

.letter-span-underline {
    border-bottom: 2px solid rgba(241, 123, 139, 0.8);    
}

/* media queries */
@media (max-width: 600px) {
    .letter-span {
        font-size: 1.8rem;
        height: 2rem;
        width: 2rem;
        line-height: 1.8rem;
    }
}

/* colors */

.pink {
    background-color: rgba(241, 123, 139, 0.8);
}

.blue {
    background-color: rgba(44, 83, 255, 0.8);
}

.green {
    background-color: rgb(14, 124, 0, 0.8);
}

.orange {
    background-color: rgb(255, 157, 28, 0.8);
}

.yellow {
    background-color: rgb(255, 239, 17, 0.8);
}

.brown {
    background-color: rgb(109, 45, 8, 0.8);
}

.red {
    background-color: rgb(233, 25, 25, 0.8);
}

.purple {
    background-color: rgba(145, 32, 107, 0.8);
}

/* categories */

#animals{
    background: url('./../images/animals.jpg') no-repeat top left;
    background-size: 100%;
}

#people{
    background: url('./../images/people.jpg') no-repeat top left;
    background-size: 100%;
}

#toys{
    background: url('./../images/toys.jpg') no-repeat top left;
    background-size: 100%;
}
